*.dll
*.exp
*.lib
*.pdb
.vscode
*.obj
*DES*
*#*
*.ot
*.rspdb
log_info
*.xml
*.project
OPNET_models_std
*.exe
*.csv
*.log
*.trj
*_trj
*.png
*.fig
*.pr.c
*.pr.cpp
*.ef
*.out
*.pdf
*.tex
*latex.md
*.latex
*.o
*.cml
*.docx
*.txt
build
boost